---
title: 8000038 provjere GDPR podređeni računa
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: d6ea5e9458a2b8ceaab3ac4bd483e1130b9a398a
ms.translationtype: MT
ms.contentlocale: hr-HR
ms.lasthandoff: 01/15/2019
ms.locfileid: "28279697"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="d9d68-102">Datum rođenja prikazuju u Microsoftov račun nije ispravna</span><span class="sxs-lookup"><span data-stu-id="d9d68-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="d9d68-p101">Microsoft poduzima račun sigurnosti vrlo utjecati. Možda ste nedavno su vas omogućuje Roditeljski pristanak za Microsoftov račun djeteta. Ako trebate pomoć pruža roditeljski pristanka ili ažuriranje datum rođenja na Microsoftov račun, pogledajte [dob provjere za roditeljski pristanka](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="d9d68-p101">Microsoft takes account security very seriously. You may have recently been prompted to provide parental consent for a child's Microsoft account. If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="d9d68-106">Saznajte više o [Microsoft podređeni račune i roditeljske pristanka](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="d9d68-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

