---
title: 8000038 provjere GDPR podređeni računa
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 993797d951dddea20d7df24ad40b5834a537852a
ms.sourcegitcommit: dd43cc0a9470f98b8ef2a3787c823801d674c666
ms.translationtype: MT
ms.contentlocale: hr-HR
ms.lasthandoff: 02/12/2019
ms.locfileid: "29919936"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Datum rođenja prikazuju u Microsoftov račun nije ispravna

Microsoft poduzima račun sigurnosti vrlo utjecati. Možda ste nedavno su vas omogućuje Roditeljski pristanak za Microsoftov račun djeteta. Ako trebate pomoć pruža roditeljski pristanka ili ažuriranje datum rođenja na Microsoftov račun, pogledajte [dob provjere za roditeljski pristanka](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Saznajte više o [Microsoft podređeni račune i roditeljske pristanka](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

