---
title: Provjera edukacije
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: hr-HR
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814364"
---
# <a name="edu-verification"></a>Provjera edukacije

U većini slučajeva zahtjevi za akademsku kvalificiranost obrađuju se u roku od 24 do 48 sati. Za neke je zahtjeve potrebno temeljitije pregledati i obraditi ih do 10 radnih dana. Kada dovršite, poslat ćemo vam poruku e-pošte sa statusom kvalificiranosti vaše škole.

**Važno** Ako ste prije ulaska u domenu izašli iz čarobnjaka za provjeru valjanosti, čarobnjak za akademsku [provjeru](https://go.microsoft.com/fwlink/p/?linkid=2135255) možete nastaviti u bilo kojem trenutku tijekom besplatne probne verzije.

Ako želite provjeriti status domene, idite u centar za [administratore sustava Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Na početnoj stranici pomaknite se do dna i pronađite karticu **Naplata.** Kartica **Naplata** označava status postupka provjere valjanosti (odobreno, na čekanju, odbijeno ili dodavanje domene).

Ako je vaš zahtjev odbijen, pogledajte [dio Moja škola ne ispunjava uvjete. Što ću sada učiniti?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)