---
title: Edu verifikacija
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: hr-HR
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205259"
---
# <a name="edu-verification"></a>Edu verifikacija

U većini slučajeva zahtjevi za akademsku prihvatljivost obrađuju se u roku od 24 do 48 sati. Neki zahtjevi mogu zahtijevati temeljitiji pregled i može potrajati do 10 radnih dana za obradu. Nakon dovršetka poslat ćemo poruku e-pošte s statusom prihvatljivosti vaše škole.

**Važno je da se** Ako ste prije ulaska iz domene izašli iz čarobnjaka za [provjeru, možete nastaviti s čarobnjakom za akademsku provjeru](https://go.microsoft.com/fwlink/p/?linkid=2135255) u bilo kojem trenutku tijekom besplatnog probnog razdoblja.

Ako želite provjeriti status domene, idite u centar za [administratore sustava Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Na početnoj stranici pomaknite se do dna i pronađite karticu **Naplata.** Kartica **Naplata** označava status postupka potvrde (odobren, na čekanju, odbijen ili dodaj domenu).

Ako je vaš zahtjev odbijen, pogledajte [Moja škola nije prihvatljiva. Što sad da radim?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)