---
title: Provjera servisa EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 309575a86155d416d587ee034fb7efe2c807e3f3
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: hr-HR
ms.lasthandoff: 09/14/2020
ms.locfileid: "47710331"
---
# <a name="edu-verification"></a><span data-ttu-id="fd740-102">Provjera servisa EDU</span><span class="sxs-lookup"><span data-stu-id="fd740-102">EDU verification</span></span>

<span data-ttu-id="fd740-103">U većini slučajeva akademska podobnost zahtjeva obrađuju se u roku od 24-48 sati.</span><span class="sxs-lookup"><span data-stu-id="fd740-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="fd740-104">Za neke će zahtjeve možda biti potrebna temeljitija pregled i može potrajati do 10 poslovnih dana.</span><span class="sxs-lookup"><span data-stu-id="fd740-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="fd740-105">Kada završite, poslat ćemo vam poruku e-pošte s statusom prihvatljivosti vaše škole.</span><span class="sxs-lookup"><span data-stu-id="fd740-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="fd740-106">**Važno** Ako ste već izašli iz čarobnjaka za provjeru valjanosti prije unosa domene, možete [nastaviti s čarobnjakom za akademsku provjeru](https://go.microsoft.com/fwlink/p/?linkid=2135255) u bilo kojem trenutku tijekom besplatnog postupka.</span><span class="sxs-lookup"><span data-stu-id="fd740-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="fd740-107">Ako želite provjeriti status domene, otvorite [centar za administratore sustava Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="fd740-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="fd740-108">Na početnoj stranici pomaknite se do dna i pronađite karticu za **naplatu** .</span><span class="sxs-lookup"><span data-stu-id="fd740-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="fd740-109">Kartica za **naplatu** označava status postupka provjere valjanosti (odobreno, neodlučeno, odbijeno ili Dodavanje domene).</span><span class="sxs-lookup"><span data-stu-id="fd740-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="fd740-110">Ako vam se zahtjev odbije, pročitajte članak [moja škola nije prihvatljiva. Što učiniti sada?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="fd740-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>