---
title: Provjera edukacije
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: hr-HR
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814364"
---
# <a name="edu-verification"></a><span data-ttu-id="9df58-102">Provjera edukacije</span><span class="sxs-lookup"><span data-stu-id="9df58-102">EDU verification</span></span>

<span data-ttu-id="9df58-103">U većini slučajeva zahtjevi za akademsku kvalificiranost obrađuju se u roku od 24 do 48 sati.</span><span class="sxs-lookup"><span data-stu-id="9df58-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="9df58-104">Za neke je zahtjeve potrebno temeljitije pregledati i obraditi ih do 10 radnih dana.</span><span class="sxs-lookup"><span data-stu-id="9df58-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="9df58-105">Kada dovršite, poslat ćemo vam poruku e-pošte sa statusom kvalificiranosti vaše škole.</span><span class="sxs-lookup"><span data-stu-id="9df58-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="9df58-106">**Važno** Ako ste prije ulaska u domenu izašli iz čarobnjaka za provjeru valjanosti, čarobnjak za akademsku [provjeru](https://go.microsoft.com/fwlink/p/?linkid=2135255) možete nastaviti u bilo kojem trenutku tijekom besplatne probne verzije.</span><span class="sxs-lookup"><span data-stu-id="9df58-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="9df58-107">Ako želite provjeriti status domene, idite u centar za [administratore sustava Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="9df58-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="9df58-108">Na početnoj stranici pomaknite se do dna i pronađite karticu **Naplata.**</span><span class="sxs-lookup"><span data-stu-id="9df58-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="9df58-109">Kartica **Naplata** označava status postupka provjere valjanosti (odobreno, na čekanju, odbijeno ili dodavanje domene).</span><span class="sxs-lookup"><span data-stu-id="9df58-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="9df58-110">Ako je vaš zahtjev odbijen, pogledajte [dio Moja škola ne ispunjava uvjete. Što ću sada učiniti?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="9df58-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>