---
title: Provjera servisa EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 309575a86155d416d587ee034fb7efe2c807e3f3
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: hr-HR
ms.lasthandoff: 09/14/2020
ms.locfileid: "47710331"
---
# <a name="edu-verification"></a>Provjera servisa EDU

U većini slučajeva akademska podobnost zahtjeva obrađuju se u roku od 24-48 sati. Za neke će zahtjeve možda biti potrebna temeljitija pregled i može potrajati do 10 poslovnih dana. Kada završite, poslat ćemo vam poruku e-pošte s statusom prihvatljivosti vaše škole.

**Važno** Ako ste već izašli iz čarobnjaka za provjeru valjanosti prije unosa domene, možete [nastaviti s čarobnjakom za akademsku provjeru](https://go.microsoft.com/fwlink/p/?linkid=2135255) u bilo kojem trenutku tijekom besplatnog postupka.

Ako želite provjeriti status domene, otvorite [centar za administratore sustava Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Na početnoj stranici pomaknite se do dna i pronađite karticu za **naplatu** . Kartica za **naplatu** označava status postupka provjere valjanosti (odobreno, neodlučeno, odbijeno ili Dodavanje domene).

Ako vam se zahtjev odbije, pročitajte članak [moja škola nije prihvatljiva. Što učiniti sada?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)