---
title: Edu verifikacija
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 7bb3a74137fd6c08165a882923087aac750c6fe4
ms.sourcegitcommit: f573e83f6eddff471449c1c3f292ba23d139b972
ms.translationtype: MT
ms.contentlocale: hr-HR
ms.lasthandoff: 05/07/2020
ms.locfileid: "44138750"
---
# <a name="edu-verification"></a><span data-ttu-id="e27d5-102">Edu verifikacija</span><span class="sxs-lookup"><span data-stu-id="e27d5-102">EDU verification</span></span>

<span data-ttu-id="e27d5-103">Primit ćete poruku e-pošte kojom ćete saznati je li ispunjavanje uvjeta vaše tvrtke ili ustanove odobreno.</span><span class="sxs-lookup"><span data-stu-id="e27d5-103">You'll receive an email letting you know whether your organization's eligibility has been approved.</span></span>

<span data-ttu-id="e27d5-104">U nekim ćete slučajevima možda morati pričekati do 48 sati da se dns verifikacija dovrši.</span><span class="sxs-lookup"><span data-stu-id="e27d5-104">In some cases, you may need to wait up to 48 hours for the DNS verification to complete.</span></span> <span data-ttu-id="e27d5-105">Možete kliknuti "Provjerit ću kasnije" i vratiti se kasnije i prijaviti se na portal sustava Office 365; zatim idite na \*\* [Centar za administratore](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage) > Postavke\*\* i kliknite [Domene](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/Domains) da biste provjerili unos statusa za svoju domenu.</span><span class="sxs-lookup"><span data-stu-id="e27d5-105">You can click “I'll verify later” and come back later and log into the Office 365 portal; then go to **[Admin center](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage) > Settings** and click [Domains](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/Domains) to check the status entry for your domain.</span></span>

<span data-ttu-id="e27d5-106">Kada budete odobreni, možete otići na karticu **[Kupnja servisa](https://go.microsoft.com/fwlink/p/?linkid=868433)** Microsoftova centra za administratore da biste kupili pretplate.</span><span class="sxs-lookup"><span data-stu-id="e27d5-106">When you are approved, you can go to the **[Purchase services](https://go.microsoft.com/fwlink/p/?linkid=868433)** tab of Microsoft admin center to purchase subscriptions.</span></span>
