---
title: Edu verifikacija
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 7bb3a74137fd6c08165a882923087aac750c6fe4
ms.sourcegitcommit: f573e83f6eddff471449c1c3f292ba23d139b972
ms.translationtype: MT
ms.contentlocale: hr-HR
ms.lasthandoff: 05/07/2020
ms.locfileid: "44138750"
---
# <a name="edu-verification"></a>Edu verifikacija

Primit ćete poruku e-pošte kojom ćete saznati je li ispunjavanje uvjeta vaše tvrtke ili ustanove odobreno.

U nekim ćete slučajevima možda morati pričekati do 48 sati da se dns verifikacija dovrši. Možete kliknuti "Provjerit ću kasnije" i vratiti se kasnije i prijaviti se na portal sustava Office 365; zatim idite na ** [Centar za administratore](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage) > Postavke** i kliknite [Domene](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/Domains) da biste provjerili unos statusa za svoju domenu.

Kada budete odobreni, možete otići na karticu **[Kupnja servisa](https://go.microsoft.com/fwlink/p/?linkid=868433)** Microsoftova centra za administratore da biste kupili pretplate.
