---
title: 8000038 Provjera računa za djecu gdpr-a
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: hr-HR
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764972"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="0200e-102">Datum rođenja prikazan na Microsoftovu računu nije točan</span><span class="sxs-lookup"><span data-stu-id="0200e-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="0200e-103">Microsoft vrlo ozbiljno shvaća sigurnost računa.</span><span class="sxs-lookup"><span data-stu-id="0200e-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="0200e-104">Možda je nedavno zatraženo da date roditeljski pristanak za djetetov Microsoftov račun.</span><span class="sxs-lookup"><span data-stu-id="0200e-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="0200e-105">Ako vam je potrebna pomoć pri davanja roditeljskog pristanka ili ažuriranja datuma rođenja na Microsoftovu računu, pogledajte [Provjeru dobi za roditeljski pristanak](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="0200e-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="0200e-106">Saznajte više o [roditeljskom pristanku i Microsoftovim računima za djecu](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="0200e-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  