---
title: 8000038 gdpr child account verification
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: hr-HR
ms.lasthandoff: 08/05/2021
ms.locfileid: "54056986"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Datum rođenja prikazan na Microsoftovu računu nije točan

Microsoft vrlo ozbiljno uzima u obzir sigurnost računa. Možda će se od vas nedavno zatražiti da dobijete roditeljski pristanak za djetetov Microsoftov račun. Ako vam je potrebna pomoć pri pružanju roditeljskog pristanka ili ažuriranju datuma rođenja na Microsoftovu računu, pogledajte [članak Provjera dobi za roditeljski pristanak](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Saznajte više o [roditeljskom pristanku i Microsoftovim računima za djecu](https://go.microsoft.com/fwlink/p/?linkid=874365).
  