---
title: 8000038 Provjera računa za djecu gdpr-a
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: hr-HR
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764972"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Datum rođenja prikazan na Microsoftovu računu nije točan

Microsoft vrlo ozbiljno shvaća sigurnost računa. Možda je nedavno zatraženo da date roditeljski pristanak za djetetov Microsoftov račun. Ako vam je potrebna pomoć pri davanja roditeljskog pristanka ili ažuriranja datuma rođenja na Microsoftovu računu, pogledajte [Provjeru dobi za roditeljski pristanak](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Saznajte više o [roditeljskom pristanku i Microsoftovim računima za djecu](https://go.microsoft.com/fwlink/p/?linkid=874365).
  