---
title: Otklanjanje poteškoća s potvrdom programa Publisher
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: hr-HR
ms.lasthandoff: 01/15/2021
ms.locfileid: "49884827"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="fbf13-102">Problemi vezani uz provjeru programa Publisher za razvojne inženjere</span><span class="sxs-lookup"><span data-stu-id="fbf13-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="fbf13-103">**Preporučeni koraci**</span><span class="sxs-lookup"><span data-stu-id="fbf13-103">**Recommended steps**</span></span> 

<span data-ttu-id="fbf13-104">Da biste riješili probleme vezane uz provjeru programa Publisher, izvedite korake u nastavku:</span><span class="sxs-lookup"><span data-stu-id="fbf13-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="fbf13-105">Pregledajte preduvjete i druge preduvjete da biste bili sigurni da su svi ispunjeni.</span><span class="sxs-lookup"><span data-stu-id="fbf13-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="fbf13-106">Pregledajte upute da biste [označili aplikaciju u obliku potvrđenog programa Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) i provjerili jesu li svi koraci uspješno izvedeni.</span><span class="sxs-lookup"><span data-stu-id="fbf13-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="fbf13-107">Pregledajte popis [običnih problema](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) i slijedite preporučene korake ako imate problem s takvog popisa.</span><span class="sxs-lookup"><span data-stu-id="fbf13-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="fbf13-108">Reproduciranjem zahtjeva pomoću [eksplorera za grafikone](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) prikupite dodatne informacije i iskljucivate sve probleme u korisničkom sučelju.</span><span class="sxs-lookup"><span data-stu-id="fbf13-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="fbf13-109">**Preporučeni dokumenti**</span><span class="sxs-lookup"><span data-stu-id="fbf13-109">**Recommended documents**</span></span>

- [<span data-ttu-id="fbf13-110">Potvrda programa Publisher – pregled</span><span class="sxs-lookup"><span data-stu-id="fbf13-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="fbf13-111">Označavanje aplikacije kao potvrđenog programa Publisher</span><span class="sxs-lookup"><span data-stu-id="fbf13-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="fbf13-112">Otklanjanje poteškoća s potvrdom programa Publisher</span><span class="sxs-lookup"><span data-stu-id="fbf13-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

