---
title: Otklanjanje poteškoća s potvrdom programa Publisher
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: hr-HR
ms.lasthandoff: 01/15/2021
ms.locfileid: "49884827"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Problemi vezani uz provjeru programa Publisher za razvojne inženjere

**Preporučeni koraci** 

Da biste riješili probleme vezane uz provjeru programa Publisher, izvedite korake u nastavku:

1. Pregledajte preduvjete i druge preduvjete da biste bili sigurni da su svi ispunjeni.
2. Pregledajte upute da biste [označili aplikaciju u obliku potvrđenog programa Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) i provjerili jesu li svi koraci uspješno izvedeni.
3. Pregledajte popis [običnih problema](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) i slijedite preporučene korake ako imate problem s takvog popisa.
4. Reproduciranjem zahtjeva pomoću [eksplorera za grafikone](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) prikupite dodatne informacije i iskljucivate sve probleme u korisničkom sučelju.

**Preporučeni dokumenti**

- [Potvrda programa Publisher – pregled](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Označavanje aplikacije kao potvrđenog programa Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Otklanjanje poteškoća s potvrdom programa Publisher](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

